NET "clk" LOC = C9 | IOSTANDARD = LVCMOS33;
NET "rst" LOC = L13 | IOSTANDARD = LVTTL | PULLUP;
NET "DB[0]" LOC = R15 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "DB[1]" LOC = R16 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "DB[2]" LOC = P17 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "DB[3]" LOC = M15 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "RS" LOC = L18 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "RW" LOC = L17 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "SF_CE0" LOC = D16 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "E" LOC = M18 | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "clk" LOC = C9 | IOSTANDARD = LVCMOS33;
NET "clk" LOC = C9 | IOSTANDARD = LVCMOS33;
NET "rot_a" LOC = K18 | IOSTANDARD = LVTTL | PULLUP;
NET "rot_b" LOC = G18 | IOSTANDARD = LVTTL | PULLUP;
NET "PWMY" LOC = E7 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "PWMX" LOC = F7 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "setear" LOC = V16 | IOSTANDARD = LVTTL | PULLDOWN;
NET "done" LOC = F12 | IOSTANDARD = LVTTL | SLEW= SLOW | DRIVE =8;